body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-size: 16px;
	background-color: #fff;
	color: #000;
}
* {
	margin: 0;
}
a {
	list-style: none;
	text-decoration: none;
}
.clearfix::after {
	content:"";
	display: table;
	clear: both;
}
.main-header {
	width: auto;
	background-color: #eee;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 20px 0px 0px 50px;
}

.main-navigation {
	float: left;
	margin-left: 175px;
	margin-top: 50px;
}
.main-navigation ul {
	padding: 0;
}
.main-navigation li {
	list-style: none;
	float: left;
	padding: 10px 25px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

}
.main-navigation a {
	color: black; 
} 
ul .active {
	border-bottom: #FB565A;
}
.basket {
	float: right;
	min-width: 105px;
	margin-top: 35px;
	padding: 10px 0 10px 40px;
}

.basket a {
	position: relative;
	display: inline-block;
	padding: 10px 10px 10px 40px;
	color: black; 
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}

.basket a::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: 15px;
    height: 15px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -26px -26px;
}

.basket a:hover {
	color: #000;
	opacity: 0.3;
}

.main-navigation a:hover {
	color: #000;
	opacity: 0.3;
}

.basket a:active {
	color: #fb565a;
	opacity: 1;
}

.main-navigation a:active {
	color: #fb565a;
	opacity: 1;
}
.logo {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.logo:hover {
	opacity: 0.8;
}
.logo:active {
	opacity: 0.3;
}

.slides-container {
	width: auto;
	margin: 0;
	padding-top: 10px;
	background-color: #eee;
}

.slider {
	position: relative;
	width: 1185px;
	height: 405px;
	margin: 0 auto;
}
.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
}
.slider-controls i {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background-color: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls .active {
	background: #c1c1c1;
}
.slide {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide-text {
	width: 440px;
	color: #000;
}
.slide-text p {
	font-size: 16px;
	line-height: 24px;
	padding: 25px 0px 10px 55px;

}
.slide-title {
	font-size: 55px;
	padding: 45px 0px 0px 55px;
	line-height: 1;
	font-weight: bold;
	color: #000;
}

.slide .btn {
	display: block;
	width: 240px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin-top: 30px;
	margin-left: 55px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.btn:hover {
	background-color: #E74246;
}

.btn:active {
	background: rgba(215,55,59, 1);

}
.slide:nth-child(1) {
	background-image:url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 485px -10px;
}
.slide {
	display: none;
}
.slide:nth-child(1) {
	display: block;
}
.slide:nth-child(2){
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(3){
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.main-container {
	width: auto;
	margin: 0 auto;
}
.main-wrapper {
	width: 1200px;
	margin: 75px auto 50px;
	padding-left: 125px;
}
.features {
	padding-bottom: 85px;
	border-bottom: 1px solid #eeeeee;

}
.features-item {
	display: inline-block;
	width: 300px;
	margin-right: 95px;
}

.features-item:last-child {
	margin-right: 0px;
	padding-left: 10px;
}
.features-item .btn {
	display: block;
	width: 160px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin-top: 35px;
	margin-left: 5px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.features-item .green{
 	background-color: #00CA74;
 	margin-left: 0px;

 }
 .presentations .yellow {
 	background-color: #EFC84A;
 	margin-left: -5px;
 }
.features-title {
	margin-top: 170px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}
.features-description {
	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
}
.web-sites {
	background: url("../img/web-sites.png") no-repeat 50% 0;
}
.web-sites>a:hover {
	background-color: #E74246;
}
.web-sites>a:active {
	background: rgba(215,55,59, 1);
}
.application {
	background: url("../img/application.png") no-repeat 50% 0;
}
.application>a:hover {
	background-color: #00BC6C;
}
.application>a:active {
	background-color: #00AA62;
}
.application a {
	background-color: #00ca74;
}
.presentations {
	background: url("../img/presentations.png") no-repeat 50% 0;
}
.presentations a {
	background-color: #efc849;
}
.presentations>a:hover {
	background-color :#EAB534;
}
.presentations>a:active {
	background-color: #E5A722;
}
.about-us {
	width: 1200px;
	margin: 20px auto 0;
	padding-bottom: 55px;
}
.about-us-left {
	display: inline-block;
	width: 610px;
	padding-top: 50px;
	padding-left: 0px;
}

.about-us-title {
	float: left;
	width: 670px;
	font-size: 45px;
	line-height: 45px;
}
.about-us-description {
	float: left;
	width: 600px;
	margin-top: 24px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	padding: 10px 10px 10px 0;
}
.about-us-subtitle {
	float: left;
	width: 550px;
	margin-top: 27px;
	font-size: 16px;
	line-height:  24px;
	
}
.about-us-subtitle ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0px;
}	
.about-us-subtitle li {
	float: left;
	font-size: 16px;
	line-height: 24px;
	padding: 13px 0px;
}
.about-us-subtitle ul>li:before {
	content: "──";
	color: red;
	padding-right: 20px;

}

.about-us-right {
	display: inline-block;
	width: 360px;
	margin-left: 190px;
	margin-top: 6px;
	vertical-align: top;
}
img {
	margin-bottom: 20px;
}

.statistics-block {
	float: left;
}
.statistics-block-title{
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 10px 40px 10px;
}
.percent {
	display: inline-block;
	font-size: 45px;
	padding-top: 10px;
	text-align: center;

}
.percent td {
	width: 100px;
}
.criterion {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
}
.criterion td {
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	width: 100px;
}
.brands-list {
	display: inline-block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.brands-list img {
	opacity: 0.2;
	text-align: center;
	margin: 50px auto;
	padding: 0px 40px;
	border-right: 1px solid #000;
}
.brands-list img:last-child {
	padding-left: 55px;
}
.brands-list img:hover {
	opacity: 1;
}
.brands-list img:active {
	opacity: 0.1;
}
.footer-container {
	width: auto;
	margin: 80px 0;
	position: relative;

}

.contacts-information {
	position: absolute;
	float: left;
	width: 300px;
	background-color: #fff;
	top: 50px;
	left: 137px;
}
.contacts-title {
	float: left;
	font-size: 18px;
	text-align: center;
	margin: 60px 0px 0 54px;
}
.contacts-adress {
	float: left;
	width: 205px;
	margin: 25px 85px 0 54px;
	color: #666;
}

.contacts-telephone {
	display: inline-block;
	margin: 20px 0 0 54px;
	color: #666;

}
.contacts-information .btn {
	display: block;
	width: 220px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin: 38px 0 35px 54px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	
}
.contacts-information .btn:hover {
	background-color: #E74246;
}
.contacts-information .btn:active {
	background-color: #D7373B;
	opacity: 0.3;
}
.map-marker {
	position: absolute;
	float: right;
	top: 88px;
	right: 300px;
}
.footer-social {
	display: inline-block;
	margin-top: 60px;
	margin-left: 135px;
}
.social-btn {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin-right: 15px;
	margin-top: -55px;
	border-radius: 50%; 
	vertical-align: middle;
	background-color: #E1E1E1;
}
.social-btn:hover {
	background-color: #E74246;
}
.social-btn:active {
	background-color: #D7373B;
	opacity: 0.3;
}
.social-btn-vkontakte {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -207px 5px;
}
.social-btn-facebook {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -63px -1px;

}
.social-btn-instagram {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -130px 3px;
}
.footer-slogan {
	display: inline-block;
	margin-left: 125px;
	margin-top: 52px;
}
.footer-title {
	font-size: 36px;
}
.footer-text {
	font-size: 16px;
	color: #444444;
	margin-top: 8px;
}
.modal-content {
	display: none;
	position: absolute;
	bottom: 65px;
	left: 50%;
	margin-left: -435px;
	width: 760px;
	padding: 80px 100px;
	color: #000;
	background: #fff;
	box-shadow: 5px -2px 30px 10px rgba(0,0,0, 0.2),
				-5px 5px 30px 10px rgba(0,0,0, 0.2);
}
.modal-content-close {
	position: absolute;
	top: 87px;
	right:99px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: #fff;
	border: 0;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 3px;
	background-color: rgba(251,86,90,0.3);
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}
.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content-title {
	width: 770px;
	padding-bottom: 0px;
	font-size: 45px;
	line-height: 45px;
	letter-spacing: 5px;
}
.user-field {
	display: inline-block;
	width: 100px;
	padding: 35px 0px;
	margin-right: 50px;

}
.user-field label {
	display: inline-block;
	height: 30px;
	width: 360px;
}
.user-field input {
	padding: 15px;
	width: 330px;
	border: 1px solid #D7DCDE;
	border-radius: 3px;
}
.email-field {
	display: inline-block;
	width: 100px;
	margin-left: 245px;
	padding: 20px 0px;
}
.email-field label {
	display: inline-block;
	height: 25px;
	width: 360px;
}
.email-field input {
	padding: 13px 0px 18px 10px;
	width: 330px;
	border: 1px solid #D7DCDE;
	border-radius: 3px;
}
.message-field {
	height: 40px;
}
.message-field label{
	display: inline-block;
	height: 20px;
	width: 760px;
}
.message-field textarea {
	display: inline-block;
	width: 750px;
	height: 120px;
}

.submit {
	display: block;
	width: 260px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin: 125px 0px 0px 0px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}