body {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: #000;
}

.clearfix::after {
	content:"";
	display: table;
	clear: both;
}
.main-header {
	width: auto;
	background-color: #eee;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 20px 0px 0px 50px;
}

.main-navigation {
	float: left;
	margin-left: 175px;
	margin-top: 30px;
}
.main-navigation ul {
	padding: 0;
}
.main-navigation li {
	list-style: none;
	float: left;
	padding: 10px 25px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

}
.main-navigation a {
	color: black;
	text-decoration: none;

} 
ul .active {
	border-bottom: #FB565A;
}
.basket {
	float: right;
	min-width: 105px;
	margin-top: 45px;
}

.basket a {
	position: relative;
	display: inline-block;
	padding: 10px 10px 10px 40px;
	color: black; 
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}

.basket a::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	width: 15px;
    height: 15px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -24px -24px;
}
.basket a:hover {
	color: #FA6569;

}
.basket a:active {
	color: #A6A6A6;
}
/*почему эти правила не работают?
.basket a:active::before {
	opacity: 1;
}
.basket a:active {
	color: #000;
	opacity: 0.3;
} */
.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000;
	opacity: 0.3;
	
}
.main-navigation .active {
	border-bottom: 2px red solid;
}
.logo {
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}
.logo:hover {
	opacity: 0.8;
}
.logo:active {
	opacity: 0.3;
}
/*Начало стилей внутренней страницы*/
.inner-main {
	width: auto;
	margin: 0 auto;
}
.inner-main-title {
	font-size: 55px;
	margin-top: 0;
	padding-top: 55px;
	padding-bottom: 120px;
	text-align: center;
	background-color: #eee;
}
.inner-main-wrapper {
	width: 1200px;
	margin: 75px auto 50px;
	padding-left: 125px;

}

.inner-main-left {
	float: left;
	width: 340px;

}
.range-filter-title {
	font-size: 18px;
	line-height: 30px;
	margin: 20px 0 0 0;
	text-transform: uppercase;
}
.range-filter {
	width: 240px;
	margin: 30px 0;
}
.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 30px;
	background-color: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}
.range-controls .scale {
	margin-top: 39px;
	height: 2px;
	background-color: #d7dcde;
}
.range-controls .bar{
	height: 2px;
	background-color: #00ca74;
}
.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background-color: #ababab;
	cursor: pointer;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	        box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle {
	left: 145px;
}
.price-controls input {
	width: 60px;
	padding: 8px 8px;
	margin-left: 10px;
	border: none;
	background-color: #f1f1f1;
	font-size: 16px;
	font-family: Roboto;
	font-weight: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}
.price-controls .min-price {
	margin-right: 14px;
}
.price-controls {
	white-space: nowrap;
}
.cost {
	font-size: 18px;
    text-transform: uppercase;
    padding: 10px 10px 15px;
}
input[type="range"]{
	width: 70%;
	background-color: #f1f1f1;
	padding: 20px 0 20px;

}
form {
	float: left;
	width: 100%;
	margin-bottom: 30px;
    padding: 20px 0 20px;
    background-color: #ffffff;
    
}

label {
	display: block;
    padding: 5px 20px;
    width: 250px;
    margin-bottom: 5px;
}
label:hover {
	cursor: pointer;
	opacity: 1;
}
label:hover span{
	opacity: 1;
}
label:hover input[type="radio"]{
	opacity: 1;
}
label:disabled {
	opacity: 0.3;
}
label:disabled span{
	opacity: 0.3;
}
label:disabled input[type="radio"]{
	opacity: 0.3;
}

fieldset {
	width: 280px;
	padding: 5px 30px 5px 0;
	border: transparent;
}
label span {
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
    opacity: 0.4;

}
input[type="radio"] {
    width: 10%;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 0.4;
}

.inner-features-block .checkbox-field{
	position: relative;
	cursor: pointer;
	opacity: 0.4;
}
.inner-features-block .checkbox-field:hover{
	opacity: 1;

}
.inner-features-block .checkbox-field:disabled{
	opacity: 0.3;
}
.inner-features-block .checkbox-on-field {
	position: relative;
	cursor: pointer;
}
.checkbox-field input[type="checkbox"] {
	visibility: hidden;
	display: inline-block;
    width: 10%;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
} 
.checkbox-on-field input[type="checkbox"] {
	visibility: hidden;
	display: inline-block;
    width: 10%;
    height: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
} 
.checkbox-field span {
	opacity: 0.7;
}
.checkbox-field::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 10px;
	left: 23px;
	background-image: url(../img/spritesheet.png);
	background-position: -24px -95px;
	background-repeat: no-repeat;
}
.checkbox-field:hover::before {
	opacity: 1;
}
.checkbox-on-field::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 10px;
	left: 23px;
	background-image: url(../img/spritesheet.png);
	background-position: -87px -24px;
	background-repeat: no-repeat;
}
.checkbox-on-field:hover::before {
	opacity: 1;
}
.form .inner-submit {
	display: inline-block;
	width: 260px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	color: #000;
	padding: 15px 0px;
	margin: 50px 0px 0px 0px;
	background-color: #eee;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.form .inner-submit:hover {
	background-color: #dfdfdf;
}
.form .inner-submit:active {
	outline: transparent;
	background-color: #d5d5d5;
	color: #959595;
	padding: 13px 0 15px;
	border-top: 2px solid #bfbfbf;
}

.max {
    display: inline-block;
	margin: 5px 10px;
	padding: 10px;
}
.inner-grid {
	text-transform: uppercase;
}

.inner-features {
	text-transform: uppercase;
}

.inner-main-right {
	float: right;
	width: 755px;
}

.sorting-title {
	display: inline-block;
	font-size: 18px;
	line-height: 30px;
	width: 320px;
	padding: 5px 10px;
	text-transform: uppercase;
}
.sorting-links {
	position: relative;
	display: inline-block;
	width: 400px;
}
.sorting-links a {
	padding: 0 10px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	opacity: 0.3;
}
.sorting-links a:hover {
	opacity: 0.6;
}
.sorting-links a:active {
	opacity: 1;
}
.sorting-links .up {
	font-size: 0;

}
.sorting-links .down::before{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	top: 4px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -24px -170px;
}
.sorting-links .up::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	top: 4px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -295px -243px;
}
.sorting-links .down {
	font-size: 0;
	margin-right: 15px;
	margin-left: 30px;
}

.templates-block {
	position: relative;
	display: inline-block;
	margin-right: 30px;
	margin-top: 10px;

}
.templates-block::before {
	display: none;
	position: absolute;
	content: "";
	width: 100%;
	height: 40px;
	background: url(../img/templates-top-hover.jpg) no-repeat;
}

.templates-block:nth-child(2n){
	margin-right: 0px;

}

.templates-hover {
	display: none;
	position: absolute;
	width: 360px;
	bottom: 0;
	right: 0;
	background-color: #eee;
}

.templates-block:hover .templates-hover {
	display: block;
	
}
.templates-block:hover::before {
	display: block;
}

.templates-hover h3 {
	padding-top: 35px;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	
}
.templates-hover p{
	width: 240px;
	margin: 0 auto;
	outline: red solid thin;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	padding-top: 10px; 
	padding-bottom: 18px;
}
.templates-hover a{
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 8px;
	padding-top: 8px;
	width: 200px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin: 18px auto 40px;
	background-color: #fb565a; 
}
.templates-hover a:hover {
	background-color: #E74246;
}
.templates-hover a:active {
	background-color: #D7373B;
	border-top: 2px solid #C13135;
	padding: 13px 0 15px;
}
.paginator {
	width: 750px;
	
}
.paginator a {
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 2px;
	margin-top: 30px;
	background-color: #eee;

}
.paginator a:hover {
	background-color: #dfdfdf;
}
.paginator a:active {
	background-color: #d5d5d5;
	color: #959595;
	padding: 8px 15px 10px;
	border-top: 2px solid #bfbfbf;
}
.paginator .active {
	background-color: #fff;
	padding: 8px 15px;
	border: 2px solid #eee;
}
.paginator .next {
	width: 260px;
	text-transform: uppercase;
	text-align: center;
}
/*Конец стилей внутренней страницы*/
.slides-container {
	width: auto;
	margin: 0;
	padding-top: 10px;
	background-color: #eee;
}

.slider {
	position: relative;
	width: 1185px;
	height: 405px;
	margin: 0 auto;
}
.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
}
.slider-controls i {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls .active {
	background: #c1c1c1;
}
.slide {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide-text {
	width: 440px;
	color: #000;
}
.slide-text p {
	font-size: 16px;
	line-height: 24px;
	padding: 13px 0px 10px 55px;

}
.slide-title {
	font-size: 55px;
	padding: 65px 0px 0px 55px;
	line-height: 1;
	font-weight: bold;
	color: #000;
}

.slide-text .btn {
	display: block;
	width: 240px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin-top: 30px;
	margin-left: 55px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.slide-text .btn:hover {
	background-color: #E74246;
}

.slide-text .btn:active {
	background-color: #D7373B;
	border-top: 2px solid #C13135;
	padding: 13px 0 15px;
}
.slide-text .btn:active span {
	opacity: 0.3;
}
.slide:nth-child(1) {
	background-image:url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 490px 7px;
}
.slide {
	display: none;
}
.slide:nth-child(1) {
	display: block;
}
.slide:nth-child(2){
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}
.slide:nth-child(3){
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.main-container {
	width: auto;
	margin: 0 auto;
}
.main-wrapper {
	width: 1200px;
	margin: 95px auto 50px;
	padding-left: 125px;
}
.features {
	padding-bottom: 85px;
	border-bottom: 1px solid #eeeeee;

}
.features-item {
	display: inline-block;
	width: 300px;
	margin-right: 95px;
}

.features-item:last-child {
	margin-right: 0px;
	padding-left: 10px;
}
.features-item .btn {
	display: block;
	width: 160px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin-top: 35px;
	margin-left: 5px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.features-item .btn:active span {
	opacity: 0.3;
}
.features-item .green{
 	background-color: #00CA74;
 	margin-left: 0px;
}

 .presentations .yellow {
 	background-color: #EFC84A;
 	margin-left: -5px;
 }
.features-title {
	margin-top: 170px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}
.features-description {
	margin-top: 15px;
	font-size: 16px;
	line-height: 24px;
}
.web-sites {
	background: url("../img/web-sites.png") no-repeat 50% 0;
}
.web-sites>a:hover {
	background-color: #E74246;
}
.web-sites>a:active {
	background-color: #D7373B;
	border-top: 2px solid #C13135;
	padding: 13px 0 15px;
}
.application {
	background: url("../img/application.png") no-repeat 50% 0;
}
.application a {
	background-color: #00ca74;
}
.application>a:hover {
	background-color: #00BC6C;
}
.application>a:active {
	background-color: #00AA62;
	border-top: 2px solid #009958;
	padding: 13px 0 15px;
}
.presentations {
	background: url("../img/presentations.png") no-repeat 50% 0;
}
.presentations a {
	background-color: #efc849;
}
.presentations>a:hover {
	background-color :#EAB534;
}
.presentations>a:active {
	background-color: #E5A722;
	border-top: 2px solid #CE961F;
	padding: 13px 0 15px;
}
.about-us {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 55px;
}
.about-us-left {
	display: inline-block;
	width: 610px;
	padding-top: 30px;
	
}

.about-us-title {
	float: left;
	width: 670px;
	font-size: 45px;
	line-height: 35px;
}
.about-us-left .about-us-description {
	float: left;
	width: 650px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-top: 0;
}
.about-us-subtitle {
	float: left;
	width: 550px;
	margin-top: 25px;
	font-size: 16px;
	line-height:  24px;
	
}
.about-us-subtitle ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 0px;
}	
.about-us-subtitle li {
	float: left;
	font-size: 16px;
	line-height: 24px;
	padding: 13px 0px;
}
.about-us-subtitle ul>li:before {
	content: "──";
	color: red;
	padding-right: 20px;

}

.about-us-right {
	display: inline-block;
	width: 360px;
	margin-left: 190px;
	margin-top: 6px;
	vertical-align: top;
}
.about-us-right-logo {
	display: inline-block;
	float: right;
	padding: 30px 0;
	outline: red solid thin;
}

.statistics-block {
	float: left;
}
.statistics-block-title{
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 10px;
}
.percent {
	display: inline-block;
	font-size: 45px;
	padding-top: 10px;
	text-align: center;

}
.percent td {
	width: 100px;
}
.criterion {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
}
.criterion td {
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	width: 100px;
}
.brands-list {
	position: relative; 
	display: inline-block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.htmlacademy-wrapper {
	display: inline-block;
	width: 300px;

}
.htmlacademy-wrapper::after {
	content: '';
	position: absolute;
	top: 65px;
	bottom: 65px;
	left: 304px;
	width: 1px;
	height: 53px;
	background-color: #eee;
}	

.borodinski-wrapper {
	display: inline-block;
	width: 300px;
}
.borodinski-wrapper::after {
	content: '';
	position: absolute;
	top: 65px;
	bottom: 65px;
	left: 608px;
	width: 1px;
	height: 53px;
	background-color: #eee;
}
.pink-wrapper {
	display: inline-block;
	width: 300px;
}
.pink-wrapper::after {
	content: '';
	position: absolute;
	top: 65px;
	bottom: 65px;
	left: 912px;
	width: 1px;
	height: 53px;
	background-color: #eee;
}	
.mishka-wrapper {
	display: inline-block;
	width: 288px;
}

.mishka-wrapper::after {
	content: '';
	position: absolute;
	top: 65px;
	bottom: 65px;
	right: 5px;
	width: 1px;
	height: 53px;
	background-color: #eee;
}
.brands-list img {
	opacity: 0.2;
	text-align: center;
	margin: 50px auto;
	padding: 0px 40px;
}

.brands-list img:last-child {
	padding-left: 45px;
}
.brands-list img:hover {
	opacity: 1;
}
.brands-list img:active {
	opacity: 0.1;
}
.footer-container {
	width: auto;
	margin: 80px 0;
	position: relative;

}
.footer-container .map-marker {
	position: absolute;
	float: right;
	top: 88px;
	right: 360px;
}
.contacts-information {
	position: absolute;
	float: left;
	width: 300px;
	background-color: #fff;
	top: 50px;
	left: 137px;
}
.contacts-title {
	float: left;
	font-size: 18px;
	text-align: center;
	margin: 60px 0px 0 54px;
}
.contacts-adress {
	float: left;
	width: 205px;
	margin: 25px 85px 0 54px;
	color: #666;
}

.contacts-telephone {
	display: inline-block;
	margin: 20px 0 0 54px;
	color: #666;

}
.contacts-information .btn {
	display: block;
	width: 220px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin: 38px 0 35px 54px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	
}
.contacts-information .btn:hover {
	background-color: #E74246;
}
.contacts-information .btn:active {
	background-color: #D7373B;
	color: #E06366;
	padding: 13px 0 15px;
	border-top: 2px solid #C13135;
}


.footer-social {
	display: inline-block;
	margin-top: 60px;
	margin-left: 135px;
}
.social-btn {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin-right: 15px;
	margin-top: -55px;
	border-radius: 50%; 
	vertical-align: middle;
	background-color: #E1E1E1;
	font-size: 0;
}
.social-btn:hover {
	background-color: #E74246;
}

.social-btn-vkontakte {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -328px -270px;
}
.social-btn-vkontakte:hover {
	background-color: #E74246;
}
.social-btn-vkontakte:active {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: 0px -333px;
	background-color: #D7373B;
}
.social-btn-facebook {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -218px -139px;

}
.social-btn-facebook:hover {
	background-color: #E74246;
}
.social-btn-facebook:active {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: 7px -209px;
	background-color: #D7373B;
}

.social-btn-instagram {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -58px -207px;
}
.social-btn-instagram:hover {
	background-color: #E74246;
}
.social-btn-instagram:active {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -127px -207px;
	background-color: #D7373B;
}
.footer-slogan {
	display: inline-block;
	margin-left: 125px;
	margin-top: 52px;
}
.footer-title {
	font-size: 36px;
}
.footer-text {
	font-size: 16px;
	color: #444444;
	margin-top: 8px;
}
.modal-content {
	display: none;
	position: absolute;
	bottom: 75px;
	left: 50%;
	margin-left: -435px;
	width: 760px;
	height: 590px;
	padding: 10px 100px;
	color: #000;
	background: #fff;
	-webkit-box-shadow: 5px -2px 30px 10px rgba(0,0,0, 0.2),
				-5px 5px 30px 10px rgba(0,0,0, 0.2);
	        box-shadow: 5px -2px 30px 10px rgba(0,0,0, 0.2),
				-5px 5px 30px 10px rgba(0,0,0, 0.2);
}
.modal-content-close {
	position: absolute;
	top: 77px;
	right:102px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: #fff;
	border: 0;
	cursor: pointer;
}
.contacts-information .btn:active .modal-content{
	display: block;
} 
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	width: 24px;
	height: 3px;
	background-color: rgba(251,86,90,0.3);
	border-radius: 1px;
}

.modal-content-close::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.modal-content-close::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.modal-content-title {
	width: 770px;
	padding-bottom: 10px;
	padding-top: 60px;
	font-size: 45px;
	line-height: 45px;
	letter-spacing: 5px;
}
.forms-field {
	display: inline-block;
	width: 800px;
}
.user-field {
	display: inline-block;
	width: 360px;
	vertical-align: top;
}
.user-field .user-field-id {
	display: inline-block;
	height: 30px;
	padding: 25px 0 0 0;
}
.user-field .input-user-fiield-id {
	padding: 15px;
	min-width: 328px;
	border-radius: 3px;
	border: 1px solid #D7DCDE;

}
.email-field {
	display: inline-block;
	width: 360px;
	margin-left: 35px;
	vertical-align: top;

}
.email-field .email-field-id {
	display: inline-block;
	height: 30px;
	width: 360px;
	padding: 25px 0 0 0;
}
.email-field .input-email-field-id {
	padding: 15px;
	width: 328px;
	border: 1px solid #D7DCDE;
	border-radius: 3px;
}
.message-field {
	display: inline-block;
	height: 40px;
	margin-top: 30px;

}
.message-field .label-text-field{
	display: inline-block;
	height: 20px;
	width: 760px;
	padding: 0;
}
.message-field .text-field {
	display: inline-block;
	width: 760px;
	min-height: 120px;
	font-size: 0;
	margin-bottom: 40px;
}

.modal-content .submit {
	display: block;
	width: 260px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 15px 0px;
	margin: 0px 0px 25px 0px;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}